<div class="col-md-8">
    <div id="articleList">
        <div class="articleModel boxShadow hoverWbg9 article aos-animate rel " aos-duration='1000' aos="flip-up">
            <div class="dataTime garden  abs">
                <div class="month text-center">
                    01月
                </div>
                <div class="day text-center">
                    01
                </div>
            </div>
            <div class="articleTitle text-center"><h2>详细日志TOP1</h2></div>
            <div class="articleTag text-center">
                <span class="label">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    45℃
                </span>
                <span class="label">
                    <i class="glyphicon glyphicon-envelope"></i>
                    444
                </span>
            </div>
            <div class="articleImg rel boxShadow">
                <a href="">
                    <div class="img">
                        <img src="/style/img/blogImg/vn.jpg" alt="">
                    </div>
                    <div class="info">
                        <p>dddd</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="articleModel boxShadow article rel" aos-duration='1000' aos="flip-up">
            <div class="dataTime garden abs">
                <div class="month text-center">
                    01月
                </div>
                <div class="day text-center">
                    01
                </div>
            </div>
            <div class="articleTitle text-center"><h2>详细日志TOP1</h2></div>
            <div class="articleTag text-center">
                <span class="label">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    45℃
                </span>
                <span class="label">
                    <i class="glyphicon glyphicon-envelope"></i>
                    444
                </span>
            </div>
            <div class="articleImg rel boxShadow">
                <a href="">
                    <div class="img">
                        <img src="/style/img/blogImg/vn.jpg" alt="">
                    </div>
                    <div class="info">
                        <p>dddd</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="articleModel boxShadow article rel" aos-duration='1000' aos="flip-up">
            <div class="dataTime garden abs">
                <div class="month text-center">
                    01月
                </div>
                <div class="day text-center">
                    01
                </div>
            </div>
            <div class="articleTitle text-center"><h2>详细日志TOP1</h2></div>
            <div class="articleTag text-center">
                <span class="label">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    45℃
                </span>
                <span class="label">
                    <i class="glyphicon glyphicon-envelope"></i>
                    444
                </span>
            </div>
            <div class="articleImg rel boxShadow">
                <a href="">
                    <div class="img">
                        <img src="/style/img/blogImg/vn.jpg" alt="">
                    </div>
                    <div class="info">
                        <p>dddd</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="articleModel boxShadow article rel" aos-duration='1000' aos="flip-up">
            <div class="dataTime garden abs">
                <div class="month text-center">
                    01月
                </div>
                <div class="day text-center">
                    01
                </div>
            </div>
            <div class="articleTitle text-center"><h2>详细日志TOP1</h2></div>
            <div class="articleTag text-center">
                <span class="label">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    45℃
                </span>
                <span class="label">
                    <i class="glyphicon glyphicon-envelope"></i>
                    444
                </span>
            </div>
            <div class="articleImg rel boxShadow">
                <a href="">
                    <div class="img">
                        <img src="/style/img/blogImg/vn.jpg" alt="">
                    </div>
                    <div class="info">
                        <p>dddd</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="articleModel boxShadow article rel" aos-duration='1000' aos="flip-up">
            <div class="dataTime garden abs">
                <div class="month text-center">
                    01月
                </div>
                <div class="day text-center">
                    01
                </div>
            </div>
            <div class="articleTitle text-center"><h2>详细日志TOP1</h2></div>
            <div class="articleTag text-center">
                <span class="label">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    45℃
                </span>
                <span class="label">
                    <i class="glyphicon glyphicon-envelope"></i>
                    444
                </span>
            </div>
            <div class="articleImg rel boxShadow">
                <a href="">
                    <div class="img">
                        <img src="/style/img/blogImg/vn.jpg" alt="">
                    </div>
                    <div class="info">
                        <p>dddd</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-4">
    <!--搜索-->
    <div id="search" class="search ">
        <form class="form-inline clearfix">
            <input type="text" class="form-control fl">
            <button type="submit" class="btn btn-danger btn-small fr">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </form>
    </div>
    <div id="login" class="login hoverWbg9 boxShadowWhite">
        <div class="login-header">
            请登录
        </div>
        <form action="">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="text" class="form-control" aria-describedby="sizing-addon2">
            </div>
            <div class="input-group" style="width: 100%;margin: 0">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> 记住状态
                    </label>
                    <a>忘记密码</a>
                </div>
            </div>
            <button class="btn">登陆</button>
            <a href="#" class="btn">注册</a>
        </form>
    </div>
    <!--文章-->
    <div class="newArticle boxShadowWhite" id="newArticle">
        <div class="newArticle-header">
            最新文章
        </div>
        <ul class="newArticleList">
            <li class="hoverWbg7 woqu-flex woqu-flex-space">
                <span class="title">LOL出装大全</span>
                <span class="host">2000℃</span>
            </li>
            <li class="hoverWbg7 woqu-flex woqu-flex-space">
                <span class="title">LOL出装大全</span>
                <span class="host">2000℃</span>
            </li>
            <li class="hoverWbg7 woqu-flex woqu-flex-space">
                <span class="title">LOL出装大全</span>
                <span class="host">2000℃</span>
            </li>
        </ul>
    </div>
</div>