<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <script src="/style/lib/angular-1.3.15/angular.min.js"></script>
    <script src="/style/lib/angular-1.3.15/angular-route.min.js"></script>
    <script src="/style/lib/angular-1.3.15/angular-messages.min.js"></script>
    <script src="/style/lib/angular-1.3.15/cookies/angular-cookie.min.js"></script>
    <script src="/style/lib/jquery/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="/style/lib/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/style/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/style/css/common.css" type="text/css">
    <script src="/style/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/style/js/controller/main.js"></script>
    <script src="/style/js/controller/serivce.js"></script>
    <script src="/style/js/controller/homeController.js"></script>
    <script src="/style/js/controller/userhomeController.js"></script>
    <script src="/style/js/controller/messageController.js"></script>
    <script src="/style/js/controller/writearticleController.js"></script>
    <script src="/style/js/controller/articleDetailsController.js"></script>
    <script type="text/javascript" src="/style/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/style/ueditor/ueditor.all.js"></script>
</head>
<body>
<div ng-include="'/template/assembly/header.html'"></div>
<div class="container mgt-50">
    <div class="row">
        <div ng-view></div>
    </div>
</div>
<script>

</script>
</body>
</html>