<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/style/lib/angular-1.3.15/angular.min.js"></script>
    <script src="/style/lib/angular-1.3.15/angular-route.min.js"></script>
    <script src="/style/lib/angular-1.3.15/angular-messages.min.js"></script>
    <script src="/style/lib/jquery/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="/style/lib/bootstrap/css/bootstrap.css" type="text/css">
    <script src="/style/lib/bootstrap/js/bootstrap.js"></script>
    <!--<script src="/style/js/lib/angular-1.3.15/cookies/angular-cookie.min.js"></script>-->
    <!--<script src="/style/js/lib/angular-1.3.15/angular-sanitize.min.js"></script>-->
    <script src="/style/js/controller/main.js"></script>
    <link rel="stylesheet" href="/style/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/style/css/common.css" type="text/css">
</head>
<body>
<section>
    <ul class="bgSlideShow">
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
</section>
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-collapse bs-navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/home">首页</a></li>
                    <li><a href="#/userhome">个人主页</a></li>
                    <li><a href="#/message">留言</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container mgt-50">
    <div class="row">
        <div ng-view></div>
    </div>
</div>
<script>

</script>
</body>
</html>