<div class="col-md-8">
    <div class="articleCover">
        <div class="file">
            <label for="articleCoverFile">添加封面</label>
            <input type="file" id="articleCoverFile">
        </div>
        <!--<img src="/style/img/blogImg/vn.jpg" alt="">-->
    </div>
    <div class="articleTitle">
        <input type="text" placeholder="在这里输入文章标题" >
    </div>
</div>
<div class="col-md-8">
    <div id="editor" type="text/plain" ueditor="editor"></div>
</div>
<div  class="col-md-8" id= "regbtn" data-toggle="popover" style="color:white;margin: 10px 0 10px 280px" data-placement="top">
    <a style="width: 120px;margin-right: 20px" href="javascript:;" class="btn btn-primary">发布</a>
    <a style="width: 120px" href="javascript:;" class="btn btn-primary">保存为草稿</a>
</div>
