<!--详细文章模块-->
<div class="articleModel boxShadow hoverWbg9 article aos-animate rel " aos-duration='1000' aos="flip-up" ng-repeat="article in ArticleListArry">
    <a href="#/articleDetails?aid={{::article.id}}">
        <div class="dataTime garden  abs">
            <div class="month text-center">
                {{::article.month}}月
            </div>
            <div class="day text-center">
                {{::article.day}}
            </div>
        </div>
        <div class="articleTitle text-center"><h2>{{::article.title}}</h2></div>
        <div class="articleTag text-center">
            <span class="label">
                <i class="glyphicon glyphicon-eye-open"></i>
                {{::article.heat}}℃
            </span>
            <span class="label">
                <i class="glyphicon glyphicon-envelope"></i>
                {{::article.comment}}
            </span>
        </div>
        <div class="articleImg rel boxShadow">
            <div class="img">
                <img src="{{article.cover}}" alt="">
            </div>
            <div class="info">
                <p>{{::article.text}}</p>
            </div>
        </div>
    </a>
</div>