<!--登陆组件-->
<div id="login" class="login hoverWbg9 boxShadowWhite">
    <div class="login-header">
        请登录
    </div>
    <form action="">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" aria-describedby="sizing-addon2" value="{{user.username}}" >
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" aria-describedby="sizing-addon2"  value="{{user.password}}">
        </div>
        <div class="input-group" style="width: 100%;margin: 0">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 记住状态
                </label>
                <a>忘记密码</a>
            </div>
        </div>
        <button  ng-click="doLogin()" class="btn" >登陆</button>
        <a href="/template/register.html"  class="btn" target="_blank">注册</a>
    </form>
</div>