<!--right new article 右边文章列表-->
<div class="newArticle boxShadowWhite" id="newArticle">
    <div class="newArticle-header">
        最新文章
    </div>
    <ul class="newArticleList">
        <a href="#/articleDetails?aid={{::newArticle.id}}" ng-repeat="newArticle in newArticleListArry">
            <li class="hoverWbg7 woqu-flex woqu-flex-space">
                <span class="title">{{::newArticle.title}}</span>
                <span class="host">{{::newArticle.heat}}℃</span>
            </li>
        </a>
    </ul>
</div>