<!--用户面板-->
<div class="userPanel hoverWbg9 boxShadowWhite" id="userPanel">
    <div class="userAvatar">
        <img src="/style/img/userimg/userImg.jpg" alt="">
    </div>
    <div class="hoverOpen">
        <i class="glyphicon glyphicon-menu-right"></i>
    </div>
    <div class="hidePer">
        <div class="sorc">
            <div class="userPanelPreview" id="userPanelPreview">
                <label>个人资料<i class="glyphicon glyphicon-pencil" title="编辑"></i></label>
                <div class="userInfo">
                    <div class="user-group ">
                        <span class="userTile">用户名</span>
                        <span class="userVal">
                                德玛西亚
                            </span>
                    </div>
                    <div class="user-group ">
                        <span class="userTile">昵 称</span>
                        <span class="userVal">
                                草丛伦
                            </span>
                    </div>
                    <div class="user-group ">
                        <span class="userTile">邮 箱</span>
                        <span class="userVal">
                                1234567@qq.com
                            </span>
                    </div>
                </div>
                <label>我关注的<span title="关注数">(20)</span></label>
                <div class="myConcern woqu-flex woqu-flex-startWrap">
                    <div class="concern">
                        <div class="concernImg">
                            <img src="/style/img/userimg/userImg.jpg" alt="">
                        </div>
                        <div class="concernName">
                            123
                        </div>
                    </div>
                    <div class="concern">
                        <div class="concernImg">
                            <img src="/style/img/userimg/userImg.jpg" alt="">
                        </div>
                        <div class="concernName">
                            2333
                        </div>
                    </div>
                    <div class="concern">
                        <div class="concernImg">
                            <img src="/style/img/userimg/userImg.jpg" alt="">
                        </div>
                        <div class="concernName">
                            2333
                        </div>
                    </div>
                    <div class="concern">
                        <div class="concernImg">
                            <img src="/style/img/userimg/userImg.jpg" alt="">
                        </div>
                        <div class="concernName">
                            2333
                        </div>
                    </div>
                </div>
                <label>关注我的<span title="关注数">(20)</span></label>
                <div class="concernToMe woqu-flex woqu-flex-startWrap">
                    <div class="concern">
                        <div class="concernImg">
                            <img src="/style/img/userimg/userImg.jpg" alt="">
                        </div>
                        <div class="concernName">
                            2333
                        </div>
                    </div>
                    <div class="concern">
                        <div class="concernImg">
                            <img src="/style/img/userimg/userImg.jpg" alt="">
                        </div>
                        <div class="concernName">
                            2333
                        </div>
                    </div>
                    <div class="concern">
                        <div class="concernImg">
                            <img src="/style/img/userimg/userImg.jpg" alt="">
                        </div>
                        <div class="concernName">
                            2333
                        </div>
                    </div>
                    <div class="concern">
                        <div class="concernImg">
                            <img src="/style/img/userimg/userImg.jpg" alt="">
                        </div>
                        <div class="concernName">
                            2333
                        </div>
                    </div>
                </div>
                <label>硬币数：<span>200</span></label>
            </div>
            <div class="userPanelEdit hide" id="userPanelEdit">
                <div class="userInfo">
                    <div class="user-group ">
                        <span class="userTile">用户名</span>
                        <span class="userVal w100">
                            <input type="text">
                        </span>
                    </div>
                    <div class="user-group ">
                        <span class="userTile">昵称</span>
                        <span class="userVal w100">
                            <input type="text">
                        </span>
                    </div>
                    <div class="user-group ">
                        <span class="userTile">邮箱</span>
                        <span class="userVal w100">
                            <input type="email">
                        </span>
                    </div>
                    <div class="user-group ">
                        <span class="userTile">头像</span>
                        <span class="userVal w100">
                            <input type="file">
                        </span>
                    </div>
                    <button class="btn">保存</button>
                    <button class="btn" id="giveupEdit">放弃</button>
                </div>
            </div>
        </div>
    </div>
</div>